/* styles css start */
:root {
	--box-one: #65e7f8;
	--box-two: #c94dfa;
	--light: #ffffff;
	--grey: #1f1f1f;
	--dark: #000000;
    --positive:#b355d8;
    --shadow: 0 0px 6px rgba(0, 0, 0, 0.15);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
	list-style: none;

}


/* input */
.myinput {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}


body {
	background: var(--light);
	color: var(--dark);
}

.header {
	display: flex;
	justify-content: center;
}

section {
	margin-top: 1rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h3 {
	color: var(--dark);
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 0.5rem;
	margin-left: 100px;
}

h4 {
	color: var(--grey);
	font-size: 17;
	font-weight: 700;
	margin-bottom: 1rem;
	
}


.logo {
    width: 80px;
    height: 80px;
    display: inline-flex;
}

.your-note {
    display: flex;
    justify-content: center;
    position: relative;

}

.your-note p {
    position: absolute;
    bottom: 40px;
    font-size: 25px;
    font-weight: 400;
    background-color: var(--box-two);
    padding: 3px 12px;
    border-radius: 7px;
    color: var(--light);
}   


.main{
	display: flex;
	justify-content: center;
}

.section-one .title {
	display: flex;

}


.section-one .title input {
	margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
	background-color: #ffffff;
}

.section-one .title, 
.section-one .title input {
	color: var(--dark);
	font-size: 1.5rem;
	font-weight: 700;
}

.section-two input[type="text"] {
	display: block;
	width: 600px;
	font-size: 18px;
	padding: 15px 20px;
	color: var(--dark);
	background-color: #f3f3f3;
	border-radius: 20px;
	box-shadow: var(--shadow);
	margin-bottom: 15px;
}


.input-search {
	/* max-width: 500px; */
	
	
}
/* 
.input-search input {
	
	
} */

.input-search input::placeholder{
	padding-left: 19px;
	
}

.input-search i{
	/* position: absolute;
	top: 205px;
	left: 220px; */
	color: var(--box-two);
	/* padding-right: 19px; */
	position: relative;
	bottom: 56px;
	left: 9px;
	
}


.section-two .options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    gap: 20px;
	margin-bottom: 1.5rem;
	
}

.section-two .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #f3f3f3;
	padding: 1.5rem;
	box-shadow: var(--shadow);
	border-radius: 0.5rem;
	cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border: 2px solid var(--box-one);
	box-shadow: var(--business-glow);
}

.bubble.personal {
	border-color: var(--box-two);
	box-shadow: var(--positive);
}

.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--box-one);
	box-shadow: var(--box-one);
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

.bubble.personal::after {
	background-color: var(--box-two);
	box-shadow: var(--box-two);
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.section-two .options label div {
	color: var(--dark);
	font-size: 1.125rem;
	margin-top: 1rem;
}

.section-two input[type="submit"] {
	display: block;
	width: 600px;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--box-two);
	box-shadow: var(--box-two);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}

.section-two input[type="submit"]:hover {
	opacity: 0.75;
}

.lists .list {
	margin: 1rem 0;
}

.footer {
	display: flex;
	justify-content: center;
	
}

.tabs{
	
    width: 100px;
   position: relative;
    padding: 60px;
    border-radius: 20px;
    

   
}

.tabs .add i{
	position: absolute;
	bottom: 80px;
	right: 90px;
    color: var(--box-two);
    width: 50px;
    height: 50px;
    background: var(--box-one);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 1.4em;
    /* float: right; */
    cursor: pointer;
}

.notes-list{
	background-color: var(--box-one);
}


.container{
	margin: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fill, 265px);
	gap: 15px;
	padding-top: 40px;
}

.container .title-one{
	display: flex;
	flex-direction: column;
	height: 250px;
	background-color: var(--light);
	border-radius: 5px;
	padding: 15px 20px 20px;
	
	
}

.settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  position: relative;
}

.settings p {
	color: var(--grey);
	font-size: 15px;
}

.settings i {
	color: var(--grey);
	font-size: 16px;
	cursor: pointer;
}

.settings .menu{
	position: absolute;
	bottom: 0;
	top: 20px;
	right: 20px;
	background-color: var(--light);
	width: 100px;
	height: 80px;
    padding: 5px 0;
	border-radius: 4px;
	box-shadow: var(--shadow);
	transform: scale(0);
	transform-origin: bottom r;
	transition: transform 0.2s ease;
}

.settings:hover .menu{
	transform: scale(1);
}

.settings .menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  height: 25px;
  padding: 17px 15px;
  cursor: pointer;
  border-radius: 0;
  justify-content: flex-start;
}

.menu li:hover{
	background: #f5f5f5;
}

.menu li i{
	padding-right: 8px;
}

.mybox {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.15);
}


.mybox .boxes{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	max-width: 400px;
	width: 100%;
	transform: translate(-50%, -50%);
}


.boxes .content{
	background: var(--light);
	border-radius: 6px;
}

.boxes .content header{
	padding: 15px 25px;
	border-bottom: 1px solid #ccc;
}

.content header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content header p{
	font-size: 18px;
	font-weight: 500;
}

.content header i {
	color:var(--grey);
	cursor: pointer;
	font-size: 20px;
}

.content form{
	margin: 15px 25px 36px;
}

.content form input{
	width: 100%;
}

