/* styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

input:not([type="radio"]):not([type="checkbox"]), button{
    appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}

body {
    background: #EEE;
    color:  #888;
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h3 {
	color: #888;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}


h4 {
	color: #888;
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.first-section .title {
    display: flex;
}

.first-section .title input{
    margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
}

.first-section .title ,
.first-section .title input {
    color: #888;
    font-size: 1.5rem;
	font-weight: 700;
}

.note-list input[type="text"] {
    display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #888;
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 1.5rem;
}

.note-list .two-option{
    display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.note-list .two-option label{
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #FFF;
	padding: 1.5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
	cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid #3a82ee;
	box-shadow: 0px 0px 4px rgba(58, 130, 238, 0.75);
}

.bubble.personal {
	border-color: #EA40A4;
	box-shadow:  0px 0px 4px rgba(234, 64, 164, 0.75);
}

.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: #3a82ee;
	box-shadow:0px 0px 4px rgba(58, 130, 238, 0.75);
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

.bubble.personal::after {
	background-color: #EA40A4;
	box-shadow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.note-list .two-option label div{
    color: #888;
    font-size: 1.125rem;
	margin-top: 1rem;
}

.note-list input[type="submit"]{
    
}